.sort_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
height: 60px;
box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
opacity: 1;
background-color: rgba(255,255,255, 1);
overflow: hidden;
}
.women_title{
    opacity: 1;
color: rgba(3,3,3,1);
font-family: "ProximaNova-Light";
font-size: 18px;
font-weight: 300;
font-style: normal;

letter-spacing: 0px;
text-align: left;
line-height: 40px;
margin-left:calc((153*100vw)/1440) ;
}

@media only screen and (max-width:750px) {
   .women_title {
    font-size: 14px;
   }
 
   
}